<h2>More information about {{question.author}}'s question: {{question.content}}</h2>
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}
